@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.access {
  --primary: rgb(255, 255, 255);

  --login-box-width: 50vmin;
  --login-box-background: rgb(255, 255, 255);
  --login-box-padding: 2vmin;
  --login-box-field-background: rgba(230, 230, 240, 1);
  --login-box-field-background-focused: rgb(188, 216, 255);
  --signup-box-field-background-focused: rgb(255, 228, 188);
  --login-box-field-radius: 2vmin;
  --login-box-field-padding: 2vmin;
  --login-button-background: rgba(4, 111, 251, 1);
  --signup-button-background: rgba(251, 132, 4, 1);

  --regular: 2vmin;
  --large: 4vmin;

  .accessWrapper {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s;
    user-select: none;
  }

  .loginBox {
    position: absolute;
    width: var(--login-box-width);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: all 0.2s;
    box-sizing: border-box;
    --focusedColor: var(--login-box-field-background-focused);
    .accessButton {
      background: var(--login-button-background);
    }
    .prompt {
      --promptColor: var(--login-button-background);
    }
  }

  .signUpBox {
    position: absolute;
    width: var(--login-box-width);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: all 0.2s;
    box-sizing: border-box;
    --focusedColor: var(--signup-box-field-background-focused);
    .accessButton {
      background: var(--signup-button-background);
    }
    .prompt {
      --promptColor: var(--signup-button-background);
    }
  }

  .promptWrapper {
    margin-top: 2vmin;
    display: flex;
    justify-content: center;
  }

  .prompt {
    text-align: center;
    font-size: var(--regular);
    color: rgb(195, 132, 77);
    font-weight: bold;
  }

  .accessButton {
    letter-spacing: 0.08em;
    font-weight: bold;
    font-size: var(--regular);
    color: white;
    border-radius: 2vmin;
    height: 8vmin;
    width: 100%;
  }

  .inputField {
    margin-bottom: 2vmin;
    height: 6vmin;
    width: 100%;
    border-radius: 2vmin;
    box-sizing: border-box;
    padding: 2vmin;
    font-size: var(--regular);
    transition: all 0.5s;
  }

  .title {
    font-size: var(--large);
    color: rgb(195, 132, 77);
    text-align: center;
    margin-bottom: 2vmin;
    font-weight: bold;
  }

  .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: absolute;
  }

.background-image {
  background-image: url("../../../images/Background.png");

  background-size: cover;
  background-position: center;
}

}
